<h3 class="text-center">Login</h3>
<form action="#">
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="form_data.email">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" placeholder="Password" ng-model="form_data.password">
	</div>
	<a class="btn btn-primary" ng-click="login()">Submit</a>
	<!--<a class="btn btn-primary" ui-sref="login">Submit</a>-->
</form>