<h3 class="text-center">Register</h3>
<form ng-submit="register()">
	<div class="form-group">
		<label for="first_name">First Name</label>
		<input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="register_data.first_name">
	</div>
	<div class="form-group">
		<label for="last_name">Last Name</label>
		<input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="register_data.last_name">
	</div>
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="register_data.email">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" placeholder="Password"  ng-model="register_data.password">
	</div>
	<!--<div class="form-group">
		<label for="confirm_password">Password</label>
		<input type="password" class="form-control" id="confirm_password" placeholder="Password">
	</div>-->
	<div class="form-group">
		<label class="radio-inline">
			<input type="radio" name="gender" id="gender-male" value="male" ng-model="register_data.gender"> Male
		</label>
		<label class="radio-inline">
			<input type="radio" name="gender" id="gender-female" value="female" ng-model="register_data.gender"> Female
		</label>
	</div>
	<button class="btn btn-success">Submit</button>
	<!-- <a class="btn btn-success" ng-click="register()">Submit</a> -->
	<!--<button type="submit" class="btn btn-success">Submit</button>-->
</form>