<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{ user.first_name + ' '+ user.last_name }}</td>
			<td>{{ user.email }}</td>
			<td class="text-capitalize">{{ user.gender }}</td>
			<td>
				<a class="btn btn-default" ui-sref="view-user({ id: user.id })">
    				<span class="glyphicon glyphicon-fullscreen"></span>
  				</a>
				<!-- <a class="btn btn-default" ui-sref="delete-user({ id: user.id })"> -->
				<a class="btn btn-default" ng-click="delete_user(user)">
    				<span class="glyphicon glyphicon-remove"></span>
  				</a>
  			</td>
		</tr>
	</tbody>
</table>